CarService/CarService/.vs
CarService/CarService/packages
CarService/CarService/CarService/bin
CarService/CarService/CarService/obj
CarService/CarService/CarService.DataAccess/bin
CarService/CarService/CarService.DataAccess/obj
CarService/CarService/CarService.Models/bin
CarService/CarService/CarService.Models/obj
